.Case {
  font-weight: bold;
  font-size: 20px;
  background-color: yellowgreen;
  margin-right: 20px;
  margin-left: 12%;
  margin-top: 10px;
  border-radius: 3px;
}
.border-line {
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.Learn a {
  text-decoration: none;
  color: yellowgreen;
}

@media (max-width: 400px) {
  .border-line {
    border: none;
    display: none;
  }
  .img {
    display: none;
  }
  .local {
    display: none;
  }
  .Case {
    display: block;
    text-align: center;
  }
  .Explore {
    margin-left: 10px;
  }

  .Learn {
    margin-top: -20px;
  }
  .Learn a {
    text-decoration: none;
    color: yellowgreen;
  }
  .hidden-br {
    display: none;
  }
}
