.Case {
  font-weight: bold;
  font-size: 20px;
  background-color: yellowgreen;
  margin-right: 20px;
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 3px;
}
.border-line {
  border-right: 2px solid white;
}
