#root {
  padding: 2rem;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

.card {
  padding: 1em;
}

.skill-team {
  width: 40%;
}

.step-goal {
  width: 25%;
}

@media (max-width: 575px) {
  .skill-team {
    width: 100%;
    text-align: center;
  }

  .step-goal {
    width: 100%;
    text-align: center;
  }
}

.bg-custom {
  background-color: #b9ff66;
}

.font-size-smaller {
  font-size: 0.6em;
}
